.selecao {
    padding:10px 40px; /* Espaçamento interno */
    border: 1px solid #171616; /* Borda ao redor da seção */
    border-radius: 5px; /* Cantos arredondados */
    background-color: #759bbe; /* Cor de fundo da seção */
}


